body {
  background-color: white;
}
h1 {
  color: blue;
}
p {
  color: grey;
}

body {
  font-family:courier new;
}

html {
  scroll-behavior: smooth;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  display: none;
}

img {
	/* Control max size of images and auto scale*/
	max-width:400px;
	max-height:400px;
	width:auto;
	height:auto;
	}

img:hover {
	/* Control max size of images and auto scale*/
	opacity: 0.5;

	}

.main {
  margin-left: 10px; /* Same as the width of the sidenav */
  margin-right: 10px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 50%;*/
}

img.absolute {
  position: absolute;
  top: 80px;
  right: 40px;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
}

#pagenav {
  height: 30px;
  /*background-color: white;*/
}

#section1 {
  height: 2000px;
  /*background-color: white;*/
}

#section2 {
  height: 300px;
  background-color: lightgrey;
}	

h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}

/*a {
	color: black;
	text-decoration: none;
}*/
	
.pagenav {
	width: 100%;
	/*margin: 10px;*/
}

.pagenav a {
  
  opacity: 0.5;
  color: black;
  text-decoration: none;
  font-size: 17px;
   
  
}

.pagenav a:hover {
  opacity: 0.8;
}


.pagenav ul{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  list-style-type:none;

}

.pagenav li{
	float: left;
	width: 20%;
	text-decoration: none;
}




/* Clearfix (clear floats) */

/* Image rows and columns*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  float: left;
  width: 33.3%;
  /*padding: 5px;*/
}

.rowpage::after {
  content: "";
  clear: both;
  display: table;
}

.columnpage {
  float: left;
  width: 10%;
  padding: 100px;
}