
body {
  font-family:courier new;
  background-color: white;
}

html {
  scroll-behavior: smooth;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  display: none;
}

img {
	/* Control max size of images and auto scale*/
	max-width:550px;
	max-height:550px;
	width:auto;
	height:auto;
  right:25%; 
  top:20%; 
  display: none;
  margin-left: auto;
  margin-right: auto;
	}

/*img:hover {
	 Control max size of images and auto scale
	opacity: 0.5;

	}*/

.main {
  margin-left: 10px; /* Same as the width of the sidenav */
  margin-right: 10px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}


img.absolute {
  position: absolute;
  top: 80px;
  right: 40px;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
  right:25%; top:20%; display: none;
}

#pagenav {
  height: 30px;
  /*background-color: white;*/
}

#section1 {
  height: 700px;
  /*background-color: white;*/
}

#section2 {
  height: 300px;
  background-color: lightgrey;
}	

h1 {text-align: center;}
p {text-align: center;
  color: grey;}
div {text-align: center;}

/*a {
	color: black;
	text-decoration: none;
}*/
	




/* Classes for page navigator*/

.pagenav {
  width: 100%;
  /*margin: 10px;*/
}

.pagenav a {
  
  opacity: 0.5;
  color: black;
  text-decoration: none;
  font-size: 17px;
}

.pagenav a:hover {
  opacity: 0.8;
}

.pagenav ul{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  list-style-type:none;

}

.pagenav li{
	float: left;
	width: 30%;
	text-decoration: none;
}




/* Clearfix (clear floats) */



/* Image rows and columns*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  position: relative;
  float: left;
  width: 33.3%;
  /*padding: 5px;*/
}


a.absolute {
  /*position: absolute;*/
  /*top: 50%;*/
  width: 100%;
  left: 0%;
  text-align: center;
  font-size: 18px;
  color: grey;
   
}

.rowpage::after {
  content: "";
  clear: both;
  display: table;
}

.columnpage {
  float: left;
  width: 10%;
  padding: 100px;
}